{% extends 'base.html' %}


{% block content_title %}{% endblock %}
{% block login %}
  <form action="./?next{{ next|default:"/"}}" method="post" id="login-form" class="navbar-form navbar-right">
            {% if not user.is_authenticated %}
            {% csrf_token %}
            <div class="form-group">
              <input id="id_username" maxlength="254" name="username" type="text" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input id="id_password" name="password" type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a href="accounts/login/">login</a> | <a
          href="accounts/register/">register</a>{% endif %}


      {% if user.is_authenticated %}<a href="/accounts/logout/?next=/">logout</a>
{% endif %}
{% endblock %}
{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
    <form action="?next{{ next|default:"/"}}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">Username</label>
        {{ form.username }}
  </div>
  <div class="form-row">
    <label for="id_password">Password</label>
        {{ form.password }}
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}