{% extends 'base.html' %}

{% block title %} Blog Archive {% endblock %}

{% block content %}
	{% if not user.is_authenticated %}
        <div class="jumbotron">
          <div class="container">
            <img src="{{STATIC_URL}}images/store.jpg" style="max-width: 100%;"/>
            <h1>Get a handle on your expenses!</h1>
            <p>Indigent learns how you spend your money so you can spend it better!
            Stop forgetting the things that you need and save tons of precious time & money!
            <p><a class="btn btn-primary btn-lg" role="button" href="accounts/register/">Register Now! &raquo;</a></p>
          </div>
        </div>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>In•di•gent?</h2>
              <p>Well, in Latin it means 'need', 'needy', or 'penniless', but don't let the name fool you.  If you allow the Indigent App to work for you, it could make you everything BUT poor.  In fact, your friends will be asking to bum rides from you and your flying Delorean… Ok, so we may have over exaggerated a bit, but you know what I mean... </p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-md-4">
              <h2>What it does:</h2>
              <p>The idea for Indigent started way back in the year 2012… yeah, in dog years that's like . . . a lot more than human years.  It came out of the constant struggle of forgetting to put things on a shopping list.  For instance, when you need milk, eggs, or bread, you usually remember them… usually. But there is a plethora (that's right, we said plethora) of items that get lost in the cracks and never make it to a shopping list.  When was the last time you put batteries, lightbulbs, a turkey baster, latex gloves, an Xbox 360, or a box of matches on your shopping list… To be honest, we don't need to know, and the fact that you may have purchased all of those at one time at any store, tells us that we'll never want to know.
</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
           </div>
            <div class="col-md-4">
              <h2>How it works:</h2>
              <p>We've tried to simplify this down to the basics (as much as possible).  One side of Indigent is dedicated to keep track of items that are purchased on a fairly regular basis.  The other side of Indigent helps to keep track of your money, as it works to save for specific items that are on a wish list, created by you.  
              </p>
              <p>
              Indigent can keep track of reoccurring purchases, as well as one time impulse buys.  It can be a very simple way to keep track of monthly expenses, but it's fully capable of offering a more robust and sophisticated experience as well.
            </p>
              For some easy tips on how to make Indigent work for you, follow us on Twitter @IndigentApp.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div>
          </div>
        </div>




    {% endif %}
    {% if user.is_authenticated %}
      <div id="sliderbox">    
          <div class="container demo-1"> 
            <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">
        
          <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
            <div class="sl-slide-inner">
              <table class="table table-striped table-bordered table-condensed">
                <tr>
                  <th><a href="#">edit</a></th>
                  <th>Budget</th>
                  <th>$300</th>

                </tr>
                <tr>
                  <td>check</td>
                  <td>Milk</td>
                  <td>10.00</td>
                </tr>
                <tr>
                  <td>check</td>
                  <td>Milk</td>
                  <td>10.00</td>
                </tr>
                <tr>
                  <td>check</td>
                  <td>Milk</td>
                  <td>10.00</td>
                </tr>
              </table>
            </div>
          </div>
          
          <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
              <div class="deco" data-icon="q"></div>
              <h2>Regula aurea</h2>
              <blockquote><p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p><cite>Albert Schweitzer</cite></blockquote>
            </div>
          </div>
          
          
        </div><!-- /sl-slider -->
        
        <nav id="nav-arrows" class="nav-arrows">
          <span class="nav-arrow-prev">Previous</span>
          <span class="nav-arrow-next">Next</span>
        </nav>

        <nav id="nav-dots" class="nav-dots">
          <span class="nav-dot-current"></span>
          <span></span>
          
        </nav>

      </div><!-- /slider-wrapper -->

        </div>
        <div class="push"></div>
    </div>
   
    <script type="text/javascript" src="{{STATIC_URL}}jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}jquery.slitslider.js"></script>
    <script type="text/javascript"> 
      $(function() {
      
        var Page = (function() {

          var $navArrows = $( '#nav-arrows' ),
            $nav = $( '#nav-dots > span' ),
            slitslider = $( '#slider' ).slitslider( {
              onBeforeChange : function( slide, pos ) {

                $nav.removeClass( 'nav-dot-current' );
                $nav.eq( pos ).addClass( 'nav-dot-current' );

              }
            } ),

            init = function() {

              initEvents();
              
            },
            initEvents = function() {

              // add navigation events
              $navArrows.children( ':last' ).on( 'click', function() {

                slitslider.next();
                return false;

              } );

              $navArrows.children( ':first' ).on( 'click', function() {
                
                slitslider.previous();
                return false;

              } );

              $nav.each( function( i ) {
              
                $( this ).on( 'click', function( event ) {
                  
                  var $dot = $( this );
                  
                  if( !slitslider.isActive() ) {

                    $nav.removeClass( 'nav-dot-current' );
                    $dot.addClass( 'nav-dot-current' );
                  
                  }
                  
                  slitslider.jump( i + 1 );
                  return false;
                
                } );
                
              } );

            };

            return { init : init };

        })();

        Page.init();

        /**
         * Notes: 
         * 
         * example how to add items:
         */

        /*
        
        var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
        
        // call the plugin's add method
        ss.add($items);

        */
      
      });
    </script>

    {% endif %}
 {% endblock %}